{% extends '::base.html.twig' %}

{% block title 'YAY!' %}
{% block body %}
{# Comment this! #}

{% for i in 1..10  %}
Hello <strong>{{ name }}</strong> # {{ i }}!<br>
{% endfor %}

<h2>Event Details</h2>
{{ event.name }}<br>
{{ event.location }}
{% endblock %}